bundle.js
.bundle.js
public/style.css
npm-debug.log

*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.idea
*.crt
*.pfx

pids/**
logs/**
results/**
build/**
dump/**
dist/**

.sass-cache/**
lib-cov/**
node_modules/**

#OS X specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
